_Store
.metadata
.recommenders
.settings
.classpath
.project
target/
bin/
RemoteSystemsTempFiles/
Servers/
rebel.xml
.mvn*
mvnw*
005-9-ambiente/
005-1-modelagem_de_negocio/
005-3-analise_e_projeto/
005-4-implementacao/005-4-4-anotacaoes/
~$*